flask
flask_sqlalchemy
gunicorn
requests
python-dotenv
beautifulsoup4
selenium
pandas
numpy
python-telegram-bot
pydantic
pydantic-settings
psutil
trio
trio-websocket
httpx
pysocks
websocket-client
urllib3
matplotlib
